@media only screen and (min-width:1500px) {
    #topbar {
    }
    #logo {
        margin-left: 300px;
    }
    #link4 {
        padding-right: 150px;
    }
}
@media only screen and (min-width:900px) {
    #couverture h1 {
        font-size: 50px;
    }
}
body {
    font-family: 'Montserrat', sans-serif;
    width: auto;
    box-sizing: border-box;
}
header {

}
#topbar {
    display: flex;
    align-items: center; 
    font-weight: 700;
    height: 48px;
    margin: 12px 0;
    font-size: 15px;
}
#link1, #link2, #link3, #link4, #rechercher, #trajet, #recherche {
    margin-right: 25px;
    text-decoration: none;
    color: #00aeff;
}
#coronavirus {
    color: grey;
    font-weight: 600;
}
#i {
    text-decoration: none;
    color: #00aeff;
}
#logo {
    
    margin-right: 20px;
}
#link1 {
    text-decoration: none;
}
#link2 {
    
}
#link3 {
    
}
#link4 {
}
#rechercher {
    font-size: 17px;
    padding-top: 10px;

}
#trajet {

}
#coronavirus {
    padding: 15px 0px 15px 470px;
    background-color: rgb(237, 251, 252);
}
#text-recherche, #text-ajouter {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #00aeff;
}
#icone {
    width: 30px;
    height: 30px;
    margin: inherit;
    padding-right: 5px;
}
#icone-connexion {
    width: 45px;
    height: 45px;
    padding: 0 25px;
}
svg {
    transform: rotate(180deg);
}
#transition {
    transition: transform .2s; 
}
#transition:active {  
    transform: rotate(180deg); 
}
#cache {
    display: none;
}
#coui {   
    display: outside;
    align-items: center;
    position: absolute;
    padding-top: 15px;
    padding-right: 300px;
}
#coui button {
    font-size: 15px;
    width: 300px;
    height: 45px;
    text-align: start;
    border: none;
} 
#coui button:hover {
    background-color: rgb(237, 251, 252);
}
#couverture {
    text-align: center;
    position: relative;
    width: 100%;
}
#couverture h1 {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    
}
#formulaire-banniere {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#depart {
    width: 200px;
    height: 48px;
    border: 0;
    justify-content: center;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    font-weight: 700;
    font-size: 15px;
    padding-left: 20px;
}
#destination {
    font-weight: bold;
    width: 200px;
    height: 48px;
    border: 0;
    font-size: 15px;
    padding-left: 20px;
}
#date {
    font-size: 15px;
    font-weight: 600;
    color: grey;
    width: 150px;
    height: 50px;
    border: 0;
    padding-left: 20px;

}
#nbre {
    font-weight: 700;
    width: 150px;
    height: 48px;
    border: 0;
    font-size: 15px;
    padding-left: 20px;
}
#btn-recherche {
    width: 150px;
    height: 50px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #00aeff;
    color: white;
    font-weight: bold;
    font-size: 17px;
    border: 0;
}
/* <-- RECHERCHE --> */
#topbar-recherche {
    
}
#logo-recherche {
    padding-left: 300px;
    padding-right: 719px;
}
#titre-rechercher {
    text-align: center;
    color: #054752;
    font-size: 40px;

}
#info {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#p1, #p2, #p3 {
    height: 200px;
    width: 300px;
    margin: 0 25px;;
    color: #054752;
}



